Cxf/wsdl/20150518/ES4_MNO.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://namespaces.gsma.org/esim-messaging/1"
    xmlns:rps="http://namespaces.gsma.org/esim-messaging/1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
    
<!-- WSDL TYPES -->
    <wsdl:types>
        <xs:schema targetNamespace="http://namespaces.gsma.org/esim-messaging/1" elementFormDefault="qualified" >
            <xs:include schemaLocation="xsd/euicc.request.ES4.xsd"/>
        </xs:schema>
		<xs:schema targetNamespace="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" >
            <xs:include schemaLocation="xsd/import/ws-addr.xsd"/>
        </xs:schema>
    </wsdl:types>

 <!-- WSA MESSAGES -->
    <wsdl:message name="SoapHeader">
        <!-- WSA MANDATORY -->
        <wsdl:part name="From" element="wsa:From"/>
        <wsdl:part name="To" element="wsa:To"/>
        <wsdl:part name="Action" element="wsa:Action"/>
        <wsdl:part name="MessageID" element="wsa:MessageID"/>
        <wsdl:part name="RelatesTo" element="wsa:RelatesTo"/>
        <!-- WSA OPTIONAL -->
        <wsdl:part name="ReplyTo" element="wsa:ReplyTo"/>      
    </wsdl:message>
    
<!-- ES4 MESSAGES -->
    <wsdl:message name="ES4-AuditEISResponseMessage">
        <wsdl:part name="parameters" element="rps:ES4-AuditEISResponse"/>
    </wsdl:message>
    <wsdl:message name="ES4-DisableProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES4-DisableProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="ES4-DeleteProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES4-DeleteProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="ES4-EnableProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES4-EnableProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="ES4-SMSRChangeResponseMessage">
        <wsdl:part name="parameters" element="rps:ES4-SMSRChangeResponse"/>
    </wsdl:message>
    <wsdl:message name="ES4-PrepareSMSRChangeResponseMessage">
        <wsdl:part name="parameters" element="rps:ES4-PrepareSMSRChangeResponse"/>
    </wsdl:message>
    <wsdl:message name="ES4-HandleProfileDeletedNotificationRequestMessage">
        <wsdl:part name="parameters" element="rps:ES4-HandleProfileDeletedNotification"/>
    </wsdl:message>
    <wsdl:message name="ES4-HandleProfileDisabledNotificationRequestMessage">
        <wsdl:part name="parameters" element="rps:ES4-HandleProfileDisabledNotification"/>
    </wsdl:message>
    <wsdl:message name="ES4-HandleProfileEnabledNotificationRequestMessage">
        <wsdl:part name="parameters" element="rps:ES4-HandleProfileEnabledNotification"/>
    </wsdl:message>
     <wsdl:message name="ES4-HandleSMSRChangeNotificationRequestMessage">
        <wsdl:part name="parameters" element="rps:ES4-HandleSMSRChangeNotification"/>
    </wsdl:message>
    
<!-- SOAP PORT OPERATIONS -->
    <wsdl:portType name="ES4Mno">
        <wsdl:operation name="ES4-HandleProfileDeletedNotification">
            <wsdl:input message="rps:ES4-HandleProfileDeletedNotificationRequestMessage"
                wsa:Action="http://gsma.com/ES4/PlatformManagement/ES4-HandleProfileDeletedNotification"
                wsam:Action="http://gsma.com/ES4/PlatformManagement/ES4-HandleProfileDeletedNotification"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-HandleProfileDisabledNotification">
            <wsdl:input message="rps:ES4-HandleProfileDisabledNotificationRequestMessage"
                wsa:Action="http://gsma.com/ES4/PlatformManagement/ES4-HandleProfileDisabledNotification"
                wsam:Action="http://gsma.com/ES4/PlatformManagement/ES4-HandleProfileDisabledNotification"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-HandleProfileEnabledNotification">
            <wsdl:input message="rps:ES4-HandleProfileEnabledNotificationRequestMessage"
                wsa:Action="http://gsma.com/ES4/PlatformManagement/ES4-HandleProfileEnabledNotification"
                wsam:Action="http://gsma.com/ES4/PlatformManagement/ES4-HandleProfileEnabledNotification"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-HandleSMSRChangeNotification">
            <wsdl:input message="rps:ES4-HandleSMSRChangeNotificationRequestMessage"
                wsa:Action="http://gsma.com/ES4/eUICCManagement/ES4-HandleSMSRChangeNotification"
                wsam:Action="http://gsma.com/ES4/eUICCManagement/ES4-HandleSMSRChangeNotification"/>
        </wsdl:operation>
        
        <!-- Callback operations here -->
        <wsdl:operation name="ES4-AuditEISCallback">
            <wsdl:input message="rps:ES4-AuditEISResponseMessage"
                wsa:Action="http://gsma.com/ES4/ProfileManagementCallBack/ES4-AuditEIS"
                wsam:Action="http://gsma.com/ES4/ProfileManagementCallBack/ES4-AuditEIS"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-DisableProfileCallback">
            <wsdl:input message="rps:ES4-DisableProfileResponseMessage"
                wsa:Action="http://gsma.com/ES4/PlatformManagementCallBack/ES4-DisableProfile"
                wsam:Action="http://gsma.com/ES4/PlatformManagementCallBack/ES4-DisableProfile"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-DeleteProfileCallback">
            <wsdl:input message="rps:ES4-DeleteProfileResponseMessage"
                wsa:Action="http://gsma.com/ES4/PlatformManagementCallBack/ES4-DeleteProfile"
                wsam:Action="http://gsma.com/ES4/PlatformManagementCallBack/ES4-DeleteProfile"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-EnableProfileCallback">
            <wsdl:input message="rps:ES4-EnableProfileResponseMessage"
                wsa:Action="http://gsma.com/ES4/PlatformManagementCallBack/ES4-EnableProfile"
                wsam:Action="http://gsma.com/ES4/PlatformManagementCallBack/ES4-EnableProfile"/>
        </wsdl:operation>   
        <wsdl:operation name="ES4-SMSRChangeCallback">
            <wsdl:input message="rps:ES4-SMSRChangeResponseMessage"
                wsa:Action="http://gsma.com/ES4/eUICCManagementCallBack/ES4-SMSRChange"
                wsam:Action="http://gsma.com/ES4/eUICCManagementCallBack/ES4-SMSRChange"/>
        </wsdl:operation>
        <wsdl:operation name="ES4-PrepareSMSRChangeCallback">
            <wsdl:input message="rps:ES4-PrepareSMSRChangeResponseMessage"
                wsa:Action="http://gsma.com/ES4/eUICCManagementCallBack/ES4-PrepareSMSRChange"
                wsam:Action="http://gsma.com/ES4/eUICCManagementCallBack/ES4-PrepareSMSRChange"/>
        </wsdl:operation>
    </wsdl:portType>

 <!-- SOAP BINDING -->
    <wsdl:binding name="ES4MnoServiceBinding" type="rps:ES4Mno">
        <wsoap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
        <wsdl:operation name="ES4-HandleProfileDeletedNotification">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-HandleProfileDisabledNotification">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-HandleProfileEnabledNotification">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-HandleSMSRChangeNotification">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        
        <!-- Callback operations here -->
        <wsdl:operation name="ES4-AuditEISCallback">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-DisableProfileCallback">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-DeleteProfileCallback">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-EnableProfileCallback">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-SMSRChangeCallback">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ES4-PrepareSMSRChangeCallback">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

<!-- SOAP SERVICE -->
    <wsdl:service name="ES4MnoService">
        <wsdl:port binding="rps:ES4MnoServiceBinding" name="MnoES4Port">
            <wsoap12:address location="http://gsma.org/esim-messaging/1/ES4/ES4MnoService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>