Cxf/wsdl/smdp-cci/smdp-cci.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://gemalto.com/smdp/wsdl"
    xmlns:smdp="http://gemalto.com/smdp/wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
    
<!-- WSDL TYPES -->
    <wsdl:types>
        <xs:schema targetNamespace="http://gemalto.com/smdp/wsdl" elementFormDefault="qualified" >
            <xs:include schemaLocation="xsd/smdp-cci.xsd"/>
        </xs:schema>
		<xs:schema targetNamespace="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" >
            <xs:include schemaLocation="xsd/import/ws-addr.xsd"/>
        </xs:schema>
    </wsdl:types>

	<!-- WSA MESSAGES -->
    <wsdl:message name="SoapHeader">
        <!-- WSA MANDATORY -->
        <wsdl:part name="From" element="wsa:From"/>
        <wsdl:part name="To" element="wsa:To"/>
        <wsdl:part name="Action" element="wsa:Action"/>
        <wsdl:part name="MessageID" element="wsa:MessageID"/>
        <wsdl:part name="RelatesTo" element="wsa:RelatesTo"/>
        <!-- WSA OPTIONAL -->
        <wsdl:part name="ReplyTo" element="wsa:ReplyTo"/>      
    </wsdl:message>
    
	<!-- CCI MESSAGES -->
	<wsdl:message name="CCI-GetSubscriptionStockRequestMessage">
        <wsdl:part name="parameters" element="smdp:CCI-GetSubscriptionStockRequest"/>
    </wsdl:message>
    <wsdl:message name="CCI-GetSubscriptionStockResponseMessage">
        <wsdl:part name="parameters" element="smdp:CCI-GetSubscriptionStockResponse"/>
    </wsdl:message>	
	<wsdl:message name="CCI-GetAvailableSubscriptionProfilesRequestMessage">
        <wsdl:part name="parameters" element="smdp:CCI-GetAvailableSubscriptionProfilesRequest"/>
    </wsdl:message>
    <wsdl:message name="CCI-GetAvailableSubscriptionProfilesResponseMessage">
        <wsdl:part name="parameters" element="smdp:CCI-GetAvailableSubscriptionProfilesResponse"/>
    </wsdl:message>
    
	<!-- SOAP PORT OPERATIONS -->
    <wsdl:portType name="SMDPCci">
        <wsdl:operation name="CCI-GetSubscriptionStock">
            <wsdl:input message="smdp:CCI-GetSubscriptionStockRequestMessage"
                wsa:Action="http://gemalto.com/smdp/CCI-GetSubscriptionStockRequest"
                wsam:Action="http://gemalto.com/smdp/CCI-GetSubscriptionStockRequest"/>
            <wsdl:output message="smdp:CCI-GetSubscriptionStockResponseMessage"
                wsa:Action="http://gemalto.com/smdp/CCI-GetSubscriptionStockResponse"
                wsam:Action="http://gemalto.com/smdp/CCI-GetSubscriptionStockResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CCI-GetAvailableSubscriptionProfiles">
            <wsdl:input message="smdp:CCI-GetAvailableSubscriptionProfilesRequestMessage"
                wsa:Action="http://gemalto.com/smdp/CCI-GetAvailableSubscriptionProfilesRequest"
                wsam:Action="http://gemalto.com/smdp/CCI-GetAvailableSubscriptionProfilesRequest"/>
            <wsdl:output message="smdp:CCI-GetAvailableSubscriptionProfilesResponseMessage"
                wsa:Action="http://gemalto.com/smdp/CCI-GetAvailableSubscriptionProfilesResponse"
                wsam:Action="http://gemalto.com/smdp/CCI-GetAvailableSubscriptionProfilesResponse"/>
        </wsdl:operation>
    </wsdl:portType>

	<!-- SOAP BINDING -->
    <wsdl:binding name="SMDPCciServiceBinding" type="smdp:SMDPCci">
        <wsoap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
        <wsdl:operation name="CCI-GetSubscriptionStock">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CCI-GetAvailableSubscriptionProfiles">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="smdp:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

<!-- SOAP SERVICE -->
    <wsdl:service name="SMDPCciService">
        <wsdl:port binding="smdp:SMDPCciServiceBinding" name="SMDPCciPort">
            <wsoap12:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
